{% extends '_base.html' %}
{% load static %}

{% block title %}О проекте{% endblock title %}

{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('static/assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                            <h1>О проекте</h1>
                            <span class="subheading">News Portal</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
    <!-- Post preview-->
      <div class="post-preview">
        <p>NewsPortal - новостной портал, с возможностью размещения статей и новостей. Здесь можно стать автором и разместить пост (статью или новость), а также подписаться на категорию постов.</p>
<p>Данный учебный проект был создан в процессе обучения на курсе Skillfactory.</p>
                <p>Проект выполнялся на протяжении второй половины учебного курса и был базовым для отработки самостоятельных заданий и заданий в ходе освоения учебных   материалов.</p>
                <p>Основные задачи, которые необходимо было реализовать в ходе обучения:</p>
                <p>Создать базовый проект Django. Спроектировать модели проекта, связи между моделями.</p>
                <p>Создать статичные страницы, настроить поиск по БД (фильтрация), создание объектов через формы и пр.</p>
                <p>Настроить авторизацию средствами Django, пакета allauth, ограничение прав доступа.</p>

       

       </div>
     </div>
  </div>
</div>
{% endblock content %}
