{% extends '_base.html' %}
{% load static %}

{% block title %}О проекте{% endblock title %}

{% block content %}
        <!-- Post preview-->
            <div class="post-preview">
                <p>NewsPortal - новостной портал, с возможностью размещения статей и новостей. Здесь можно стать автором и разместить пост (статью или новость), а также подписаться на категорию постов.</p>
                <p>Данный учебный проект был создан в процессе обучения на курсе Skillfactory.</p>
                <p>Проект выполнялся на протяжении второй половины учебного курса и был базовым для отработки самостоятельных заданий и заданий в ходе освоения учебных   материалов.</p>
                <p>Основные задачи, которые необходимо было реализовать:</p>
                <ul>
                    <li>Создать базовый проект Django. Спроектировать модели проекта, связи между моделями.</li>
                    <li>Создать статичные страницы, настроить поиск по БД (фильтрация), создание объектов через формы и пр.</li>
                    <li>Настроить авторизацию средствами Django, пакета allauth, ограничение прав доступа.</li>
          </div>
        </div>
    </div>
</div>
{% endblock content %}
