{% extends '_base.html' %}
{% load static %}

{% block title %}О проекте{% endblock title %}

{% block header1 %}Об учебном проекте{% endblock header1 %}

{% block header2 %}News Portal{% endblock header2 %}

{% block content %}
<p>NewsPortal - новостной портал, с возможностью размещения статей и новостей. Здесь можно стать автором и разместить пост (статью или новость), а также подписаться на категорию постов.</p>
<p>Данный учебный проект был создан в процессе обучения на курсе Skillfactory.</p>
<p>Проект выполнялся на протяжении второй половины учебного курса и был базовым для отработки самостоятельных заданий и заданий в ходе освоения учебных   материалов.</p>
<p>Реализовано:</p>
    <ul>
        <li>Создан базовый проект Django. Спроектированы модели проекта, связи между моделями.</li>
        <li>Настроена авторизация средствами Django, при использовании пакета allauth и django-allauth (google), введено ограничение прав доступа.</li>
        <li>Созданы статичные страницы, настроен поиск по БД (фильтрация), реализована возможность создание объектов (постов) через формы и пр.</li>
        <li></li>
{% endblock content %}
